#one{
    width:80%;
    margin:0 auto;
    background-color:orange;
    text-align: center;
}

#two{
    width:80%;
    margin:0 auto;
    background-color:lightgreen;
    text-align: center;
}

#three{
    width:80%;
    margin:0 auto;
    background-color:red;
    text-align: center;
}
#four{
    width:80%;
    height:40px;
    margin:0 auto;
    background-color:pink;
    text-align: center;
}
#five{
    width:80%;
    margin:0 auto;
    background-color:purple;
    height: 40px;
    text-align: center;
}
